@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');


.HeaderContainer {
    /* position: fixed; */
    /* background-color: #f2f3eb; */
    /* background-image: url("../public/images/background/bg1.jpg"); */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #ffffff;
    padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .headerBox {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;

        .logo {
            max-width: 20%;
        }
    }
}


.headingText {
    font-family: 'Gloock', serif;
    color: black;
    text-shadow: 1px 1px 2px rgb(84, 84, 84);
    font-weight: 500;
    font-size: 2.7rem;
}




@media (max-width: 768px) {
    /* Phone-Screen */

    .headerBox {
        display: flex;
        padding: 3% 10% 3% 10%;
    }

    .PhoneHead {
        display: flex;
        justify-content: space-between;
    }

    .headerBox {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        /* width: 40%; */
        max-width: 20%;
    }

}

@media (max-width: 426px) {

    .headingText {
        font-size: 1.49rem;
        inline-size: max-content;
    }
}

@media (min-width: 768px) {

    .BellIcon {
        display: none;

    }
}