.quizpage {
    background-image: url('../public/images/Quiz-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 7rem 0;
    border: white 2px;
    font-family: cursive;
    font-size: 15pt;
}
.width-30{
    width: 30%;
}


.option-button {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    transition: all 0.3s ease-in-out;

     &:hover{
        border: solid 1px black
    }
}

.selected {
    background-color: #0066cc;
    color: #ffffff;
}

.correct {
    background-color: #00cc00;
    color: #ffffff;
}

.incorrect {
    background-color: #cc0000;
    color: #ffffff;
}

.option-button.correct {
    background-color: green;
}

.option-button.incorrect {
    background-color: red;
}